<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
</head>

<body>
	<form action="/method/" method="get">
		<p>get</p>
		<input type="text" name="name" id="" />
		<input type="text" name="pass" id="" />
		<input type="submit" value="제출" />
	</form>
	<form action="/method/" method="post">
		<p>post</p>
		<input type="text" name="name" id="" />
		<input type="text" name="pass" id="" />
		<input type="submit" value="제출" />
	</form>
</body>

</html>